.sideDrawer{
     width: 300px;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     background-color: whitesmoke;
     box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
     z-index: 200;
     /* transform: translateX(-100%); */
}

.sideDrawer.open{
     /* transform: translateX(0); */
}

.items ul{
     display: flex;
     flex-direction: column;
     gap: 10px;
     list-style: none;
}


