.cards{
     width: 100%;
     display: flex;
     width: 85%;
     flex-direction: column;
     margin-left: 7.5%;
     gap: 16px;
}

.action-box{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.icons{
     display: flex;
     gap: 20px;
     margin-right: 20px;
}

.copy-icon{
     background-image: url(./CopyPaste.svg);
     width: 16px;
     height: 18px;
     cursor: pointer;
     margin-top: 3px;
}

.delete-icon{
     background-image: url(./DeleteIcon.svg);
     width: 18.86px;
     height: 21.57px;
     cursor: pointer
}