.App{
     font-family: 'Roboto', sans-serif;
     height: 100%;
     width: 100%;
}
html{
     height: 100%;
     width: 100%;
}

body{
     padding: 0;
     margin: 0;
     height: 100%;
     width: 100%;
}

#root{
     height: 100%;
     width: 100%;
}

@media only screen and (min-width: 1025px){
     form{
          display: flex;
          position: relative;
          left: 30%;
          flex-direction: column;
          gap: 15px;
          width: 60%;
          z-index: 1;
     }
     .cards{
          width: 100%;
          display: flex;
          justify-content: center; 
     }
}

@media only screen and (max-width: 1024px){
          form{
          display: flex;
          position: relative;
          left: 20%;
          flex-direction: column;
          gap: 15px;
          width: 60%;
          z-index: 1;
     }
}

